@font-face { font-family: 'Fb Hachaluzim'; src: url('FbHachaluzim-Regular.otf') format('opentype'); font-weight: 400; font-style: normal; font-display: swap; }
@font-face { font-family: 'Fb Hachaluzim'; src: url('FbHachaluzim-Medium.otf') format('opentype'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face { font-family: 'Fb Hachaluzim'; src: url('FbHachaluzim-Bold.otf') format('opentype'); font-weight: 700; font-style: normal; font-display: swap; }
